*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header
{
    height: 80px;
    width: 100%;
    background: rgb(215,215,215);
    background: linear-gradient(90deg, rgba(215,215,215,1) 0%, rgba(22,22,22,1) 100%);
    display: flex;
    position: fixed;
    border-bottom: 2px solid;
}

.logo
{
    display: flex;
    width: 50%;
}

.logo img
{
    margin-top: 8px;
    margin-left: 20px;
    height: 60px;
    border: 2px solid rgb(96, 96, 96);
    border-radius: 200px;
}

.links
{
    width: 40%;
    text-align: right;
    display: flex;
    justify-content: space-between;
}

.links a
{
    font-size: 20px;
    margin-top: 28px;
    color: white;
    text-decoration: none;
}

.links a:hover
{
    text-decoration: underline;
}

.splashscreen
{
    background: url("https://images.unsplash.com/photo-1480506132288-68f7705954bd?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 825px;
    width: 100%;
    display: flex;
}

.tidbit
{
    padding-top: 175px;
    color: white;
    width: 40%;
    text-align: center;
}

.tidbit h1
{
    font-size: 40px;
    width: 75%;
    margin-left: 24%;
}

.tidbit p
{
    font-size: 25px;
    width: 60%;
    padding-top: 45px;
    padding-bottom: 80px;
    margin-left: 30%;
    text-align: center;
}

.tidbit a
{
    font-size: xx-large;
    background-color: black;
    border: 3px solid rgb(126, 126, 126);
    padding: 10px;
    border-radius: 100px;
    margin-left: 20.5%;
    color: white;
    text-decoration: none;
}

.tidbit a:hover
{
    background-color: rgb(126, 126, 126);
}

.image
{
    width: 60%;
    text-align: center;
}

.image img
{
    margin-top: 105px;
    width: 40%;
    border: 5px solid white;
    border-radius: 200px;
}

.works
{
    height: 830px;
    width: 100%;
    background: rgb(48,63,138);
    background: linear-gradient(90deg, rgba(48,63,138,1) 0%, rgba(62,100,130,1) 41%, rgba(105,15,54,1) 73%, rgba(163,47,71,1) 100%);
    text-align: center;
}

.works h1
{
    font-size: 40px;
    color: white;
    padding-top: 140px;
}

.work
{
    display: flex;
    justify-content: center;
    gap: 10%;
}

.anchor
{
    padding-top: 30px;
    background-color: rgb(126, 126, 126);
    width: 25%;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
}

.anchor p
{
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.anchor a
{
    color: white;
    font-size: 25px;
}

.anchor a:hover
{
    color: white;
    text-decoration: none;
}

.about
{
    padding-top: 90px;
    background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0zNzgtMDkta255OWZoM2IuanBn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
    width: 100%;
    color: white;
}

.about h1
{
    font-size: 40px;
    text-align: center;
}

.depth
{
    display: flex;
}

.image2
{
    width: 50%;
    text-align: center;
}

.image2 img
{
    width: 50%;
    border-radius: 100px;
    border: 5px solid white;
}

.text
{
    width: 50%;
    text-align: center;
}

.text p
{
    font-size: 20px;
    width: 75%;
}

.contact
{
    height: 800px;
    width: 100%;
    text-align: center;
    background: rgb(163,47,71);
    background: linear-gradient(90deg, rgba(163,47,71,1) 0%, rgba(105,15,54,1) 27%, rgba(62,100,130,1) 59%, rgba(48,63,138,1) 100%);
}

hr
{
    width: 50%;
    border: 1px solid white;
}

.contact h1
{
    font-size: 40px;
    color: white;
    padding-top: 90px;
}

.contact h2
{
    font-size: 30px;
    color: white;
}

.methods
{
    display: flex;
    justify-content: center;
    gap: 200px;
    padding-top: 30px;
}

.email
{
    color: white;
    font-size: 20px;
}

.phone
{
    color: white;
    font-size: 20px;
}

.email h3
{
    text-decoration: underline;
}

.phone h3
{
    text-decoration: underline;
}

.contact p
{
    color: white;
    font-size: 22px;
}